@import "../global.scss";

.home-page-container {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 95vh;
  .home-footer {
    background-color: $lightGrey;
    color: $brightGreen;
  }
}

.home-header {
  color: white;
}
