@import "../global.scss";

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $lightGrey;
  .log-in-out-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
